Hello {{ name }},

Please find attached your tutoring invoice for the period of {{ biweek_start }} (inclusive) to {{ biweek_end }} (exclusive).

If you have any questions or concerns regarding invoices, payments, or scheduling, please feel free to reach out. I'm here to help!

{{ signature }}