Hi again {{ name }},

I am so sorry for the confusion, but I just realized that there was a bug in my code which sent you the wrong invoice! I have fixed the error and attached the corrected invoice to this email.

Please use this updated invoice for your records and disregard the previous one. I apologize for any inconvenience this may have caused, especially since this happened last invoice day too! The development process has been a rocky road, however all bugs are now fixed and we will not be having this issue again.

Please let me know if you have any questions or concerns!

{{ signature }}