Hello {{ name }},

I'd like to welcome you to Propel Tutoring.

We use an automated invoicing system to keep our billing simple and consistent, and to make it easier for you to keep track of your tutoring expenses. Here's what to expect going forward:
• Invoices are sent biweekly directly to your email, each covering a 2-week period of tutoring sessions.
• Payment is due within 7 days from the day you receive the invoice.
• All fees can be paid via e-transfer to the email and phone number listed on each invoice. Please include the invoice number in the message.
• Our system operates based on "billing accounts", which allow you to manage multiple students under one email if needed. Your email is already linked to a billing account that includes your current student(s).
• Each invoice will contain information for each session including but not limited to tutor name, client name, and rate. This way if you have multiple students or tutors, everything is clearly laid out in one invoice.

Our sessions are billed in increments of 15 mins, rounded up or down to the nearest 0.25 hours; and once set, hourly rates per student-tutor pairing are locked in forever. More information on our billing policies can be found in the client agreement which you should have already gotten an email about.

Please find attached your first tutoring invoice for the semester, for {{ biweek_start }} (inclusive) to {{ biweek_end }} (exclusive).

Please feel free to reach out if you have any questions or concerns regarding invoices, payments, or scheduling. I'm here to help!
I appreciate your trust and support, and I'm excited to see the progress this semester will bring!

{{ signature }}