Hi {{ name }},

I'd like to welcome you to Propel Tutoring, the expansion of my tutoring business.

For Propel, I have updated my invoicing system to handle more tutors and upgrade to a full database backend. For you, not very much changes compared to our current invoicing system:
• Invoices are still sent biweekly directly to your email.
• All sessions are still billed in increments of 15 mins, rounded up or down to the nearest 0.25 hours; and no matter if you continue tutoring with me, another one of my tutors, or both, hourly rates per tutor remain locked in forever once set.
• All fees can still be paid via e-transfer to the email and phone number listed on each invoice. Please include the invoice number in the message.
Please do note, however, that the email for e-transfer has been changed -- I am now using the official Propel Tutoring email ({{ propel_email }}), so please direct your e-transfers to that address. Payment is now due within 7 days from the day you receive the invoice, no longer 10 days; this allows me to make sure my tutors get paid on time for their work.

More information on our billing policies can be found in the client agreement which you should have already gotten an email about.

Here are some of the improvements I've made with the new invoicing system:
• Redesign of the database backend to improve data integrity and allow for easier expansion in the future (this will not affect your experience).
• Improved invoice layout for better readability.
• Introduction of "billing accounts" allowing you to manage multiple students under one email if needed in the future. Each current student you have with me is already linked to a billing account under your email.
• More information for each session including tutor name, client name, and rate. This way if you have multiple students or tutors, everything is clearly laid out in one invoice.

I'd also like to thank you. I never thought that my tutoring would grow to a point that I couldn't handle the amount of client requests I had coming in. It is because of your support that I'm able to start this business and help as many students chase their dreams as possible, so thank you.

I'm currently working on building my website so that I can direct incoming client traffic through a controlled platform. Once it is complete I will send the link out in another email for your reference, but until then, if you know of anybody that is looking for tutoring, please send them my way via this business email ({{ propel_email }}).

Please find attached your first Propel Tutoring invoice, for {{ biweek_start }} (inclusive) to {{ biweek_end }} (exclusive).

Please feel free to reach out if you have any questions or concerns regarding invoices, payments, or scheduling. I'm here to help!
As always, I appreciate your continued trust and support, and I'm excited to see the progress we will achieve in this upcoming semester!

{{ signature }}